body {
    background-color: wheat;
    font-family: Helvetica, Times, serif;
}

img {
    height: auto;
    width: 450px;
}

.container {
    text-align: center;
}

h1 {
    text-align: center;
}

h1, 
h2 {
    font-family: 'Times New Roman', Times, serif;
}

ul li {
    list-style: none;
}

li {
    font-size: 1.5rem;
    padding: .5rem 0;
}